@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", san-serif;
  color: #333333;
}

h2 {
  font-weight: 700;
  font-size: 3.5rem;
}

p {
  padding: 3rem 0rem;
  color: #333333;
  font-size: 1.4rem;
  line-height: 150%;
}
