@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "globalbrands";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", san-serif;
  color: #333333;
  overflow-x: hidden;
}

h2 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  @media (max-width: 1675px) {
    font-size: 2.5rem;
  }
  @media (max-width: 900px) {
    font-size: 2.25rem;
  }
  @media (max-width: 878px) {
    font-size: 2.5rem;
  }
  @media (max-width: 650px) {
    font-size: 2rem;
  }
}

p {
  padding: 1rem 0rem;
  color: #333333;
  // color: white;
  font-size: 1.4rem;
  line-height: 150%;
  @media (max-width: 1675px) {
    font-size: 1rem;
  }
  @media (max-width: 878px) {
    font-size: 1.2rem;
  }
  @media (max-width: 650px) {
    font-size: 1rem;
  }
}

#main-container {
  // flex: 1;
  // background: url("../assets/img/groupPeople.png") no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  // overflow: hidden;
  // img {
  //   z-index: -10;
  //   position: absolute;
  // }
  #background-img {
    width: 100%;
    z-index: -10;
    position: absolute;
    @media (max-width: 500px) {
      left: -35%;
      width: 200vw;
    }
  }
}
